@model VideoModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using (Html.BeginForm("DownloadVideo", "Home", FormMethod.Post))
{
    <span>Paste url:</span> @Html.TextBoxFor(m => m.Url)
    <input id="Submit" type="submit" value="submit" />
}
