:root {
    --background-color-top: #252525;
    --background-color-bottom: #000000;
    --dark-grey: #3c3c3c;
    --light-grey: #8a8987;
    --accent-color: #f2205f;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
    /*background-color: var(--background-color-bottom);*/
    background-image: linear-gradient(var(--background-color-top), var(--background-color-bottom));
}