@model ClearInputViewModel

<div class="clear-input-container">
    @Model.HtmlTextBox
    <button class="clear-input-button"
            aria-label="Clear input"
            title="Clear input"
            type="button">
        <i class="bi bi-x"></i>
    </button>
</div>