<div class="d-flex justify-content-center mt-5 mb-3">
    <img src="~/images/clip_yt_logo_subtitle.png" alt="ClipYT logo" id="logo-img">
</div>

<style>
    #logo-img{
        max-height: 100px;
    }
</style>