@using ClipYT.Interfaces;
@inject IRandomCaptionService RandomCaptionService;

<div class="d-flex justify-content-center mb-5">
    <div>
        <a class="logo-a d-flex flex-column" href=@Url.Action("Index")>
            <img src="~/images/clip_yt_logo.png" alt="ClipYT logo" id="logo-img" />
            <span class="logo-caption">@RandomCaptionService.GetRandomCaption()</span>
        </a>
    </div>
</div>

<style>
    .logo-a {
        text-decoration: none !important;
        position: relative;
    }

    #logo-img {
        max-height: 100px;
    }

    .logo-caption {
        font-family: Nekst;
        color: var(--accent-color);
        position: absolute;
        left: 77px;
        top: 77px;
        line-height: 15px;
        font-size: medium;
    }
</style>