@using ClipYT.Interfaces;
@inject IRandomCaptionService RandomCaptionService;

<div class="d-flex justify-content-center mb-4">
        <a class="logo-a" href=@Url.Action("Index") title="@ViewBag.Version">
            <img src="~/images/clipyt_logo_gradient.svg" alt="ClipYT logo" id="logo-img" />
            <span class="logo-caption">@RandomCaptionService.GetRandomCaption()</span>
        </a>
</div>

<style>
    .logo-a {
        text-decoration: none !important;
        position: relative;
    }

    #logo-img {
        max-height: 100px;
        width: auto;
        height: auto;
    }

    .logo-caption {
        font-family: 'Figtree';
        color: var(--accent-color);
        position: absolute;
        left: 80px;
        top: 77px;
        line-height: 16px;
        font-size: medium;
        font-weight: 900;
    }
</style>